@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Raleway", "Sans serif";
}

.container {
  margin-left: 50px;
  margin-right: 60px;
}

.main {
  background-color: floralwhite; 
}

/* HEADER */

.logoBooki {
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header a:hover /* Apparence au survol des liens */ {
 text-decoration: none;
}

.headerLeftImg {
  background-color: white;
  margin-top: 55px;
  margin-left: 15px;
}
.headerLinks {
  display: flex;
  background-color: white;
  align-items: center;
}

.headerLink {
  background-color: white;
  border-top: 2px solid grey;
}


.menu {
  display: flex;
  flex-wrap: wrap;
  font-size: 19px;
}

.nav-hebergements {
  color: #0065FC;
  text-align: center;
  border-top: 3px solid #0065FC;
  padding: 57px 30px 35px 30px;
}

.nav-activites {
  text-align: center;
  padding: 57px 0px 35px 50px;
}


/* RECHERCHE */
.searchzone {
  margin-bottom: 25px;
}

.searchzone h1 {
  margin: 45px 0 0 0;
  display: flex;
  flex-direction: column;
  font-size: 26px;
}

.formSearch {
  display: flex;
  flex-direction: row;
}

.formSearch input {
  outline: none;
}

::-webkit-input-placeholder {
  color: black;
}

:-ms-input-placeholder {
  color: black;
}

:-moz-placeholder {
  color: black;
}

::-moz-placeholder {
  color: black;
}

input::placeholder {
  color: black;
}

form.recherche button[type="none"] {
  background: #F4F4F4;
  border: 1px #F4F4F4 solid;
  padding: 20px;
  font-size: 21px;
  border-radius: 20px 0 0 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 2;
}

form.recherche button[type="submit"] {
  display: flex;
  align-items: center;
  background: #0065FC;
  border: 1px #0065FC solid;
  border-radius: 0 22px 22px 0;
  color: #FFF;
  height: 65px;
  padding: 0px 20px;
}

@media (max-width:768px) {
  form.recherche button[type="submit"] {
    border-radius: 15px 15px 15px 15px !important;
    margin-left: -15px !important;
  }
}

.textbtn {
  font-size: 21.5px;
}

@media (max-width:768px) {
  .textbtn {
    display: none;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width:768px) {
  p.textbtn2 {
    display: none;
    justify-content: center;
    align-items: center;
  }
}

form.recherche {
  display: flex;
  text-align: inherit;
}

@media (max-width:768px) {
  form.recherche {
    display: flex;
    text-align: center !important;
  }
}

form.recherche input {
  background: transparent;
  border: 1px #F2F2F2 solid;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  font-size: 21.5px;
}



/* FILTRES */

.boutonfiltre {
  font-weight: bold;
  font-size: 24px;
}

.filtres {
/*  display: flex;
  flex-direction: column;*/
  padding-top: 26px;
  font-size: 21.5px;
}

.filtres,
.filtres .content {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;; 
}

.filtres .title {
  margin-bottom: 40px;
  margin-top: 28px;
  padding-right: 38px;
  padding-left: 10px;
}

.filtres .boutonfiltre {
  display: flex;
  justify-content: space-between;
  border-radius: 40px;
  border: 2.5px #D9D9D9 solid;
  height: 60px;
  position: relative;
  padding-left: 70px;
  padding-right: 25px;
  margin-right: 25px;
  margin-bottom: 10px;
  transition: transform .2s;
  cursor: pointer;
}

.filtres .boutonfiltre:hover {
  transform: scale(1.05);
}

.filtres .boutonfiltre:first-child {
  margin-left: 0;
}

.filtres .boutonfiltre:last-child {
  margin-right: 0;
}

.filtres .boutonfiltre i {
  line-height: 60px;
  width: 60px;
  color: #0065FC;
  position: absolute;
  text-align: center;
  background: #DEEBFF;
  left: -3px;
  top: -3px;
  border-radius: 100%;
}

.boutonfiltre p {
  margin: auto;
  font-size: 21.5px;
}


.nombrelogementstxt {
  margin-top: 5px;
  margin-left: 5px;
  display: inline-flex;
}

.nombrelogementstxt i {
  border: 2px solid #D9D9D9;
  /*line-height: 25px;*/
  font-size: 14px;
  color: #0065FC;
  text-align: center;
  border-radius: 100%;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
}

p.NbLogements {
  margin: auto;
  padding-left: 3px;
}


/* COMMUM HEB et POP */
.etoilesnote {
  margin-top: 5px;
  color: #0065FC;
  font-size: 14px;
}

.etoilesnotegrise {
  margin-top: 5px;
  color: #D2D2D2;
  font-size: 14px;
}

figure:hover {
  transform: scale(1.02);
}

.item:hover {
  transform: scale(1.02);
}


.hebergementsSection {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-between;
}

.hebergements {
  background-color: #F2F2F2;
  border-radius: 20px;
  padding: 30px 25px;
  min-height: 519px;
  flex-basis: 66%;
  margin-bottom: 20px;
/*  margin-right: 50px;*/
}

.hebergements h1 {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 25px;
}

.LesPlusPop h1 {
  margin-top: 20px;
  margin-left: 15px;
  margin-bottom: 25px;
}

.LesPlusPopCardContainer {
  display: flex;
}

.LesPlusPopCardRightContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.LesPlusPopCardRightContainer p {
  /* https://stackoverflow.com/questions/3922739/limit-text-length-to-n-lines-using-css */
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2; 
   -webkit-box-orient: vertical;
}

.LesPlusPop .etoilesnote {
  /*margin-top: 40px;*/
  /*position: absolute;*/
}

.LesPlusPopCardTitle {
  font-size: 18px;
}

.hebergementsClassiques {
  order: 1;
  flex: 1;
  margin-left: 25px;
  margin-right: 25px;
}

.LesPlusPopCardsContainer {
  display: flex;
  flex-wrap: wrap;
  /*justify-content: space-between;*/
  border-radius: 20px;
  justify-content: center;
}

.LesPlusPopLeftImg {
/*  min-height: 165px;
  height: 85px;*/
  /*min-width: 155px;*/
  object-fit: cover;
  flex-basis: 43%;
  max-width: 38%;
  /*width: 30%;*/
  max-height: 100%;
  border-radius: 16px 0 0 16px;
  margin-top: 5px;
}

.LesPlusPopCardsContainer figure {
/*  max-width: 31%;*/
  min-width: 285px;
  min-height: 170px;
  height: 170px;
  display: flex;
  width: 95%;
  background: #FFF;
  padding: 5px;
  padding-top: 0px;
  border-radius: 25px;
  margin: 0 0 35px 0;
  box-shadow: 0px 0px 10px #55555538;
  cursor: pointer;
  transition: transform .2s;
}

.LesPlusPopCardsContainer figure figcaption {
  padding: 15px 15px 15px 25px;
  position: relative;
}

.LesPlusPopCardsContainer figure figcaption p {
  margin: 0;
}

.LesPlusPopCardsContainer figure figcaption p:first-child {
  font-size: 19px;
}

.LesPlusPopCardsContainer figure figcaption p:nth-child(2) {
  font-size: 17.5px;
  margin: 10px 0;
}

.hebergementsCardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 20px;
}

.hebergementsCardsContainer img {
  min-width: 135px;
  min-height: 135px;
  height: 135px;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  border-radius: 16px 16px 0 0;
}

.hebergementsCardsContainer figure {
  min-width: 150px;
  width: 31%;
  background: #FFF;
  padding: 5px;
  border-radius: 20px;
  margin: 0 0 35px 0;
  box-shadow: 0px 0px 10px #55555538;
  cursor: pointer;
  transition: transform .2s;
}

.hebergementsCardsContainer figure figcaption {
  padding: 10px;
  position: relative;
}

.hebergementsCardsContainer figure figcaption p {
  margin: 0;
}

.hebergementsCardsContainer figure figcaption p:first-child {
  font-size: 19px;
}

.hebergementsCardsContainer figure figcaption p:nth-child(2) {
  font-size: 16px;
  margin: 5px 0;
}


/* LES PLUS POPULAIRES */
.LesPlusPop {
  background: #F2F2F2;
  border-radius: 20px;
  padding: 30px 25px 5px 25px;
  min-height: 519px;
  min-width: 300px;
  flex-basis: 31%;
  margin-bottom: 20px;

}

.afficherPlus {
  margin-left: 30px;
  font-size: 21.5px;
}

.LesPlusPopHeader {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.blackstar {
 font-size: 24px;
 margin-top: -6px;
 margin-right: 20px;
}

.LesPlusPop .group-item {
  flex-direction: column;
}

.LesPlusPop .group-item figure {
  width: auto;
  display: flex;
  flex-direction: row;
}

.LesPlusPop .group-item figure img {
  max-width: 100px;
  max-height: initial;
  height: 115px;
  border-radius: 20px 0 0 20px;
}

/* Médias Hebergements et Populaires */
/*@media (max-width:768px) {
  .hebergementsSection .hebergementsClassiques {
    order: 1;
    flex: 1;
    margin-right: 0%;
  }
}
*/
@media (max-width:768px) {
  .hebergementsSection .LesPlusPop {
    order: 0;
    flex: 0 1 100%;
  }
}

@media (max-width:768px) {
  .hebergementsSection .LesPlusPop {
    background: #F2F2F2;
    border-radius: 0px !important;
    padding: 30px 25px;
    min-height: 519px;
    margin-bottom: 0px;
    flex-direction: column;
  }
}

@media (max-width:768px) {
  .hebergementsSection .group-item {
    flex-direction: column;
  }
}

@media (max-width:768px) {
  .hebergementsClassiques .hebergements {
    background: white !important;
  }
}

@media (max-width:768px) {
  .hebergementsSection .hebergements .group-item figure {
    transform: scale(1.05);
    width: auto;
  }
}

@media (max-width:768px) {
  .hebergementsSection .LesPlusPop .group-item figure {
    transform: scale(1.05);
    width: auto;
  }
}






/* ACTIVITES A MARSEILLE */

.ActiMars {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 35px;
  /*margin-bottom: 10px;*/
}

.activitiesSection .flex-container {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  /*flex-wrap: nowrap;*/
  justify-content: space-between;
  margin-top: 10px;
}

.activiteimg {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.activite-card-title {
  margin-top: 25px;
  margin-left: 25px;
  margin-bottom: 20px;
  font-size: 18px;
}

.activite-card-title1 {
  margin-top: 20px;
  margin-left: 25px;
  margin-bottom: 20px;
  font-size: 20px;
}
/*
.activite-card span {
  margin-top: 0px;
  margin-left: 10px;
}
*/
.activiteimg img {
  height: 100%;
  min-height: 160px;
  max-height: 465px;
  width: 100%;
  object-fit: cover;
  border-radius: 30px 30px 0 0;
}

.activiteLittleimg1 img {
  /*height: 80%;*/
  min-height: 160px;
  max-height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.activiteLittleimg2 img {
  /*height: 90%;*/
  min-height: 160px;
  max-height: 145px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}


.item {
  padding: 0px;
  background: #FFF;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 40px -20px rgba(0, 0, 0, .75);
  -moz-box-shadow: 0 5px 40px -20px rgba(0, 0, 0, .75);
  box-shadow: 0 5px 25px -20px rgba(0, 0, 0, .75);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.item:hover {
  transform: scale(1.05);
}


.activite-card {
  display: flex;
  flex-basis: 23%;
  height: 535px;
  border-radius: 15px;
  min-width: 200px;
  /*background-color: salmon;*/
  /*margin-right: 30px;*/
}

.couple1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fort-pomegue {
  flex-basis: 50%;
  background-color: indigo;
  border-radius: 15px 15px 0px 0px;
}

.ile-frioul {
 flex-basis: 40%;
  /*background-color: purple;*/
  border-radius: 0px 0px 15px 15px;
  display: flex;
}

.couple2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dame-garde {
  flex-basis: 40%;
  /*background-color: indigo;*/
  border-radius: 15px 15px 0px 0px;
}

.parc-longchamps {
 flex-basis: 50%;
  /*background-color: purple;*/
  border-radius: 0px 0px 15px 15px;
  display: flex
}

/* FOOTER */


.footer {
  display: flex;
  justify-content: center;
  background: #F2F2F2;
  color: black;
  width: 100%;
  margin-top: 50px;
  padding-top: 15px;
}

footer h3 {
  color: black;
  margin-top: 10px;
  margin-bottom: 5px;
}

footer a {
  text-decoration: none;
}

footer ul {
  list-style-type: none;
  color: black;
  margin: 0px;
  padding: 0px;
}

footer a:hover /* Apparence au survol des liens */ {
 text-decoration: underline;
}

.col_footer {
  font-size: 18px;
  padding: 20px;
  padding-bottom: 40px;
  padding-left: 0px;
  width: 31%;
  display: flex;
  flex-direction: column;
  line-height: 36px;
  color: black;
}


/* CSS général de la page */
body {
  margin-right: 0px;
  padding-right: 0px;
}

main {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 25px;
}


h1 {
  font-size: 26px
}


h2 {
  font-size: 24px;
  font-weight: bold;
}

h3 {
  font-size: 21px;
  font-weight: bold;
}

p {
  font-size: 19px;
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (max-width:768px) {
  .container {
    margin-left: 0px;
    margin-right: 0px;
  }
  .header {
    flex-direction: column;
  }
  .menu {
    width: 100%;
  }
  .recherche {
    margin-left: 30px;
    margin-right: 30px;
    /*justify-content: center;*/
  }
  form.recherche {
    justify-content: stretch;
    align-items: stretch;
  }
  form.recherche input {
    width: 100%;
  }
  .formSearch {
    width: 100%;
  }
  .nombrelogementstxt {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .headerLinks {
    width: 100%;
    justify-content: space-between;
  }
  .headerLeftImg {
    margin-top: 35px;
  }
  .nav-hebergements {
    color: #0065FC;
    text-align: center;
    border-bottom: 3px solid #0065FC;
    border-top: 0px;
    padding: 57px 40px 35px 40px;
    flex-basis: 50%;
  }
  .nav-activites {
    /*color: black;*/
    text-align: center;
    border-bottom: 3px solid #F2F2F2;
    border-top: 0px;
    padding: 57px 100px 35px 100px;
    flex-basis: 50%;
  }
  .hebergementsCardsContainer {
    flex-direction: column;
  }
  .hebergementsCardsContainer figure {
    width: 100%;
  }
  .hebergementsSection {
    flex-direction: column-reverse;
  }
  .activitiesSection .flex-container {
    flex-direction: column;
  }
  .activite-card {
    margin-bottom: 30px;
  }
  .fort-pomege {
    margin-bottom: 30px;
  }
  .dame-garde {
    margin-bottom: 30px;
  }
  .activiteimg img {
    max-height: 180px;
  }
  .footer {
    flex-direction: column;
    align-items: center;
  }
  .col_footer {
    width: 100%;
    align-items: center;
  }
  .searchzone {
    margin-bottom: 50px;
  }
  .filtres .title {
    margin-left: 30px;
    margin-bottom: 25px;
  }
  .filtres .boutonfiltre {
    margin-right: 5px;
  }
  .filtres .content {
    /*margin-right: 30px;*/
    margin-left: 30px;
  }
  main {
    margin: 0px 0px 0px 0px;
  }
  .hebergementsSection .hebergements {
    background: white;
    border-radius: 0px !important;
    /*padding: 30px 25px;*/
    min-height: 519px;
    margin-bottom: 0px;
    flex-basis: 100%;
  }
  .ActiMars {
    margin-left: 28px;
    margin-right: 28px;
  }
  .col_footer {
    align-items: flex-start;
    margin-left: 60px;
  }
}

@media (min-width: 768px) and (max-width:1020px) { 
  /* 1020px : un peu avant que les plus populaires passent sous hébéergements à marseille */
  /* 928px : quand les plus populaires passent sous hébéergements à marseille */
  .hebergementsSection {
    flex-direction: column;
  }
  .hebergements {
    flex-basis: 100%;
  }
  .LesPlusPop {
    flex-basis: 100%;
  }
}
