@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Raleway", "Sans serif";
}



.container {
  margin-right: auto;
  margin-left: auto;
}

.main {
  background-color: floralwhite; 
}

/* HEADER */

.logoBooki {

}

.header {
  display: flex;
  background-color: yellowgreen;
  justify-content: space-between;
  align-items: stretch;
}
.headerLeftImg {
  background-color: palevioletred;
}
.headerLinks {
  display: flex;
  background-color: lightgreen;
  align-items: center;
}

.headerLink {
  background-color: purple;
  border-top: 2px solid grey;
}

/* RECHERCHE */

.searchzone h1 {
    margin: 15px 0 0 0;
    display: flex;
    flex-direction: column;
}

.formSearch {
  display: flex;
  flex-direction: row;
}


form.recherche button[type="none"] {
    background: #F2F2F2;
    border: 1px #F2F2F2 solid;
    padding: 5px 15px;
    font-size: 20px;
    border-radius: 15px 0 0 15px;
    padding-top: 7px;
    padding-bottom: 10px;
}

form.recherche button[type="submit"] {
    display: flex;
    background: #0065FC;
    border: 1px #0065FC solid;
    border-radius: 0 15px 15px 0;
    color: #FFF;
    height: 43px;
    padding: 0px 15px;
}

@media (max-width:640px) {
    form.recherche button[type="submit"] {
        border-radius: 15px 15px 15px 15px !important;
        margin-left: -15px !important;
    }
}

@media (max-width:640px) {
  .textbtn {
        display: none;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width:640px) {
    p.textbtn2 {
        display: none;
        justify-content: center;
        align-items: center;
    }
}

form.recherche {
    display: flex;
    text-align: inherit;
}

@media (max-width:640px) {
    form.recherche {
        display: flex;
        text-align: center !important;
    }
}

form.recherche input {
    background: transparent;
    border: 1px #F2F2F2 solid;
    padding: 11px 5vw;
    margin-left: -4px;
}



/* FILTRES */

.boutonfiltre {
    font-weight: bold;
    font-size: 15px;
}

.filtres {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.filtres,
.filtres .content {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;; 
}

.filtres .title {
    margin-bottom: 20px;
    padding-top: inherit;
    padding-right: 20px;
}

.filtres .boutonfiltre {
    display: flex;
    justify-content: space-between;
    border-radius: 200px;
    border: 2px #F2F2F2 solid;
    height: 50px;
    position: relative;
    padding-left: 55px;
    padding-right: 14px;
    margin-right: 20px;
    margin-bottom: 10px;
    transition: transform .2s;
    cursor: pointer;
}

.filtres .boutonfiltre:hover {
    transform: scale(1.05);
}

.filtres .boutonfiltre:first-child {
    margin-left: 0;
}

.filtres .boutonfiltre:last-child {
    margin-right: 0;
}

.filtres .boutonfiltre i {
    line-height: 50px;
    color: #0065FC;
    position: absolute;
    width: 50px;
    text-align: center;
    background: #DEEBFF;
    left: -2px;
    border-radius: 100%;
}

.boutonfiltre p {
    margin: auto;
}


.nombrelogementstxt {
    padding: 5px 0;
    display: inline-flex;
}

.nombrelogementstxt i {
    border: 2px solid #F2F2F2;
    width: 29px;
    line-height: 25px;
    font-size: 14px;
    color: #0065FC;
    text-align: center;
    border-radius: 100%;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 29px;
}

p.NbLogements {
    margin: auto;
    padding-left: 3px;
}


/* COMMUM HEB et POP */
.etoilesnote {
  color: #0065FC;
  font-size: 12px;
}

.hebergementsSection {
  display: flex;
  flex-flow: row wrap;
}

/* HEBERGEMENTS */
.hebergements {
background-color: #F2F2F2;
border-radius: 20px;
padding: 30px 25px;
min-height: 519px;
margin-bottom: 20px;
}

.hebergementsClassiques {
    order: 1;
    flex: 1;
    margin-right: 3%;
}

.group-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 20px;
}

.group-item img {
    height: 7rem;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 1rem 1rem 0 0;
}

.group-item figure {
    width: calc(100% / 3.3);
    background: #FFF;
    padding: 0.3rem;
    border-radius: 1.25rem;
    margin: 0 0 30px 0;
    box-shadow: 0px 0px 10px #55555538;
    cursor: pointer;
    transition: transform .2s;
}

.group-item figure figcaption {
    padding: 10px;
    position: relative;
}

.group-item figure figcaption p {
    margin: 0;
}

.group-item figure figcaption p:first-child {
    font-size: 14px;
}

.group-item figure figcaption p:nth-child(2) {
    font-size: 12px;
    margin: 5px 0;
}







/* LES PLUS POPULAIRES */
.LesPlusPop {
background-color: #F2F2F2;
}

.stonk {
    display: flex;
    justify-content: space-between;
}

figure:hover {
    transform: scale(1.02);
}

.item:hover {
    transform: scale(1.02);
}



/* ACTIVITES A MARSEILLE */

.ActiMars {
background-color: white;
}

.activitiesSection .fondgris h1 {
    margin-left: 25px;
}

.activitiesSection .flex-container {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    padding: 15px 15px;
}

.activitiesSection .fondgris h1 {
    margin-left: 25px;
}

.activitiesSection .flex-container {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    padding: 15px 15px;
}

.activiteimg img {
    height: 100%;
    max-height: 100px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.item {
  padding: 3px;
  background: #FFF;
  border-radius: 20px;
  margin: 0 0 30px 0;
  -webkit-box-shadow: 0 5px 40px -20px rgba(0, 0, 0, .75);
  -moz-box-shadow: 0 5px 40px -20px rgba(0, 0, 0, .75);
  box-shadow: 0 5px 40px -20px rgba(0, 0, 0, .75);
}

.item:hover {
    transform: scale(1.05);
}


/* FOOTER */


.footer {
  display: flex;
  justify-content: center;
  background: #F2F2F2;
  color: black;
  width: 100%;
  margin-top: 50px;
}

footer h3 {
color: black;
}

footer a {
text-decoration: none;
}

footer ul {
  list-style-type: none;
  color: #464646;
  margin: 0px;
  padding: 0px;
}

footer a:hover /* Apparence au survol des liens */ {
   text-decoration: underline;
}

.col_footer {
  padding: 20px;
  width: 100%;
  padding-left: 10%;
  display: flex;
  flex-direction: column;
  line-height: 25px;
  margin-right: 15px;
}



/* CSS général de la page */


body
{
  margin: auto;
}

main
{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}


h1 {
    font-size: 1em
}


h2
{
  font-size: 1.5em;
  font-weight: bold;
}

h3
{
  font-size: 1.18em;
  font-weight: bold;
}

p
{
  font-size: 1em;
}

a 
{
  color: inherit;
  text-decoration: none;
}
