@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Raleway", "Sans serif";
}

.container {
  margin-left: 50px;
  margin-right: 50px;
}

.main {
  background-color: floralwhite; 
}

/* HEADER */

.logoBooki {
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header a:hover /* Apparence au survol des liens */ {
 text-decoration: none;
}

.headerLeftImg {
  background-color: white;
}
.headerLinks {
  display: flex;
  background-color: white;
  align-items: center;
}

.headerLink {
  background-color: white;
  border-top: 2px solid grey;
}


.menu {
  display: flex;
  flex-wrap: wrap;
}

.nav-hebergements {
  color: royalblue;
  text-align: center;
  border-top: 2px solid #0065FC;
  padding: 40px;

}

.nav-activites {
  text-align: center;
  padding: 40px;
}


/* RECHERCHE */
.searchzone {
  margin-bottom: 20px;
}

.searchzone h1 {
  margin: 15px 0 0 0;
  display: flex;
  flex-direction: column;
}

.formSearch {
  display: flex;
  flex-direction: row;
}

.formSearch input {
  outline: none;
}

::-webkit-input-placeholder {
  color: black;
}

:-ms-input-placeholder {
  color: black;
}

:-moz-placeholder {
  color: black;
}

::-moz-placeholder {
  color: black;
}

input::placeholder {
  color: black;
}

form.recherche button[type="none"] {
  background: #F2F2F2;
  border: 1px #F2F2F2 solid;
  padding: 5px 15px;
  font-size: 15px;
  border-radius: 15px 0 0 15px;
  padding-top: 7px;
  padding-bottom: 10px;
}

form.recherche button[type="submit"] {
  display: flex;
  align-items: center;
  background: #0065FC;
  border: 1px #0065FC solid;
  border-radius: 0 15px 15px 0;
  color: #FFF;
  height: 43px;
  padding: 0px 15px;
}

@media (max-width:768px) {
  form.recherche button[type="submit"] {
    border-radius: 15px 15px 15px 15px !important;
    margin-left: -15px !important;
  }
}

@media (max-width:768px) {
  .textbtn {
    display: none;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width:768px) {
  p.textbtn2 {
    display: none;
    justify-content: center;
    align-items: center;
  }
}

form.recherche {
  display: flex;
  text-align: inherit;
}

@media (max-width:768px) {
  form.recherche {
    display: flex;
    text-align: center !important;
  }
}

form.recherche input {
  background: transparent;
  border: 1px #F2F2F2 solid;
  padding-left: 15px;
  padding-right: 20px;
  font-weight: bold;

}



/* FILTRES */

.boutonfiltre {
  font-weight: bold;
  font-size: 15px;
}

.filtres {
  display: flex;
  flex-direction: column;
  padding-top: 20px;

}

.filtres,
.filtres .content {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;; 
}

.filtres .title {
  margin-bottom: 30px;
  padding-top: inherit;
  padding-right: 30px;
}

.filtres .boutonfiltre {
  display: flex;
  justify-content: space-between;
  border-radius: 200px;
  border: 2px #F2F2F2 solid;
  height: 40px;
  position: relative;
  padding-left: 50px;
  padding-right: 14px;
  margin-right: 20px;
  margin-bottom: 10px;
  transition: transform .2s;
  cursor: pointer;
}

.filtres .boutonfiltre:hover {
  transform: scale(1.05);
}

.filtres .boutonfiltre:first-child {
  margin-left: 0;
}

.filtres .boutonfiltre:last-child {
  margin-right: 0;
}

.filtres .boutonfiltre i {
  line-height: 40px;
  color: #0065FC;
  position: absolute;
  width: 40px;
  text-align: center;
  background: #DEEBFF;
  left: -2px;
  border-radius: 100%;
}

.boutonfiltre p {
  margin: auto;
  font-size: 16px;
}


.nombrelogementstxt {
  padding: 5px 0;
  display: inline-flex;
}

.nombrelogementstxt i {
  border: 2px solid #F2F2F2;
  width: 20px;
  line-height: 25px;
  font-size: 12px;
  color: #0065FC;
  text-align: center;
  border-radius: 100%;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
}

p.NbLogements {
  margin: auto;
  padding-left: 3px;
}


/* COMMUM HEB et POP */
.etoilesnote {
  color: #0065FC;
  font-size: 12px;
}

figure:hover {
  transform: scale(1.02);
}

.item:hover {
  transform: scale(1.02);
}


.hebergementsSection {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-between;
}

.hebergements {
  background-color: #F2F2F2;
  border-radius: 20px;
  padding: 30px 25px;
  min-height: 519px;
  flex-basis: 62%;
  margin-bottom: 20px;
/*  margin-right: 50px;*/
}

.hebergements h1 {
 margin-bottom: 25px;
}

.hebergementsClassiques {
  order: 1;
  flex: 1;
}

.LesPlusPopCardsContainer {
  display: flex;
  flex-wrap: wrap;
  /*justify-content: space-between;*/
  border-radius: 20px;
  justify-content: center;
}

.LesPlusPopCardsContainer img {
  min-width: 120px;
  min-height: 150px;
  height: 90px;
  object-fit: cover;
  max-width: 30%;
  width: 30%;
  max-height: 100%;
  border-radius: 16px 0 0 16px;
}

.LesPlusPopCardsContainer figure {
/*  min-width: 220px;
  max-width: 31%;*/
  /*height: 120px;*/
  display: flex;
  width: 90%;
  background: #FFF;
  padding: 5px;
  border-radius: 20px;
  margin: 0 0 20px 0;
  box-shadow: 0px 0px 10px #55555538;
  cursor: pointer;
  transition: transform .2s;
}

.LesPlusPopCardsContainer figure figcaption {
  padding: 10px;
  position: relative;
}

.LesPlusPopCardsContainer figure figcaption p {
  margin: 0;
}

.LesPlusPopCardsContainer figure figcaption p:first-child {
  font-size: 14px;
}

.LesPlusPopCardsContainer figure figcaption p:nth-child(2) {
  font-size: 12px;
  margin: 5px 0;
}

.hebergementsCardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 20px;
}

.hebergementsCardsContainer img {
  min-width: 112px;
  min-height: 112px;
  height: 112px;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  border-radius: 16px 16px 0 0;
}

.hebergementsCardsContainer figure {
  min-width: 150px;
  width: 31%;
  background: #FFF;
  padding: 5px;
  border-radius: 20px;
  margin: 0 0 20px 0;
  box-shadow: 0px 0px 10px #55555538;
  cursor: pointer;
  transition: transform .2s;
}

.hebergementsCardsContainer figure figcaption {
  padding: 10px;
  position: relative;
}

.hebergementsCardsContainer figure figcaption p {
  margin: 0;
}

.hebergementsCardsContainer figure figcaption p:first-child {
  font-size: 14px;
}

.hebergementsCardsContainer figure figcaption p:nth-child(2) {
  font-size: 12px;
  margin: 5px 0;
}


/* LES PLUS POPULAIRES */
.LesPlusPop {
  background: #F2F2F2;
  border-radius: 20px;
  padding: 30px 25px;
  min-height: 519px;
  min-width: 300px;
  flex-basis: 31%;
  margin-bottom: 20px;
}


.LesPlusPopHeader {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.blackstar {
 font-size: 20px;
}

.LesPlusPop .etoilesnote {
  position: absolute;
  bottom: 5%;
}


.LesPlusPop .group-item {
  flex-direction: column;
}

.LesPlusPop .group-item figure {
  width: auto;
  display: flex;
  flex-direction: row;
}

.LesPlusPop .group-item figure img {
  max-width: 100px;
  max-height: initial;
  height: 115px;
  border-radius: 20px 0 0 20px;
}

/* Médias Hebergements et Populaires */
@media (max-width:768px) {
  #hebergementsSection .hebergementsClassiques {
    order: 1;
    flex: 1;
    margin-right: 0%;
  }
}

@media (max-width:768px) {
  #hebergementsSection .LesPlusPop {
    order: 0;
    flex: 0 1 100%;
  }
}

@media (max-width:768px) {
  #hebergementsSection .hebergements {
    background: #F2F2F2;
    border-radius: 0px !important;
    padding: 30px 25px;
    min-height: 519px;
    margin-bottom: 0px;
    flex-direction: column;
  }
}

@media (max-width:768px) {
  #hebergementsSection .LesPlusPop {
    background: #F2F2F2;
    border-radius: 0px !important;
    padding: 30px 25px;
    min-height: 519px;
    margin-bottom: 0px;
    flex-direction: column;
  }
}

@media (max-width:768px) {
  #hebergementsSection .group-item {
    flex-direction: column;
  }
}

@media (max-width:768px) {
  .hebergementsClassiques .hebergements {
    background: white !important;
  }
}

@media (max-width:768px) {
  #hebergementsSection .hebergements .group-item figure {
    transform: scale(1.05);
    width: auto;
  }
}

@media (max-width:768px) {
  #hebergementsSection .LesPlusPop .group-item figure {
    transform: scale(1.05);
    width: auto;
  }
}






/* ACTIVITES A MARSEILLE */

.ActiMars {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
}

.activitiesSection .flex-container {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  /*flex-wrap: nowrap;*/
  justify-content: space-between;
}

.activiteimg {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.activite-card-title {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
  flex-basis: 16%;
}
/*
.activite-card span {
  margin-top: 0px;
  margin-left: 10px;
}
*/
.activiteimg img {
  height: 90%;
  max-height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;

}

.activiteLittleimg1 img {
  /*height: 80%;*/
  max-height: 85px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.activiteLittleimg2 img {
  /*height: 90%;*/
  max-height: 75px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}


.item {
  padding: 0px;
  background: #FFF;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 40px -20px rgba(0, 0, 0, .75);
  -moz-box-shadow: 0 5px 40px -20px rgba(0, 0, 0, .75);
  box-shadow: 0 5px 40px -20px rgba(0, 0, 0, .75);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item:hover {
  transform: scale(1.05);
}


.activite-card {
  display: flex;
  flex-basis: 23%;
  height: 250px;
  border-radius: 15px;
  min-width: 200px;
  /*background-color: salmon;*/
  /*margin-right: 30px;*/
}

.couple1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fort-pomegue {
  flex-basis: 50%;
  background-color: indigo;
  border-radius: 15px 15px 0px 0px;
}

.ile-frioul {
 flex-basis: 40%;
  /*background-color: purple;*/
  border-radius: 0px 0px 15px 15px;
}

.couple2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dame-garde {
  flex-basis: 40%;
  /*background-color: indigo;*/
  border-radius: 15px 15px 0px 0px;
}

.parc-longchamps {
 flex-basis: 50%;
  /*background-color: purple;*/
  border-radius: 0px 0px 15px 15px;
}

/* FOOTER */


.footer {
  display: flex;
  justify-content: center;
  background: #F2F2F2;
  color: black;
  width: 100%;
  margin-top: 50px;
}

footer h3 {
  color: black;
  margin-top: 10px;
}

footer a {
  text-decoration: none;
}

footer ul {
  list-style-type: none;
  color: #464646;
  margin: 0px;
  padding: 0px;
}

footer a:hover /* Apparence au survol des liens */ {
 text-decoration: underline;
}

.col_footer {
  font-size: 14px;
  padding: 20px;
  padding-bottom: 40px;
  width: 31%;
  display: flex;
  flex-direction: column;
  line-height: 30px;
  color: black;
}


/* CSS général de la page */


body {
}

main {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-right: 50px;
}


h1 {
  font-size: 20px
}


h2 {
  font-size: 24px;
  font-weight: bold;
}

h3 {
  font-size: 19px;
  font-weight: bold;
}

p {
  font-size: 14.4px;
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
